In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
from sklearn.ensemble import RandomForestRegressor

In [8]:
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['mse','mae'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}

In [9]:
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(indep, dep)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   10.8s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   15.0s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [10]:
re=grid.cv_results_

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.046998,0.001630,0.005667,0.000943,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.824161,0.811377,0.805259,0.813599,0.007875,11
1,0.433002,0.046054,0.038666,0.020035,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.840212,0.826646,0.819123,0.828660,0.008727,5
2,0.034665,0.001248,0.006002,0.001415,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.822635,0.836039,0.802118,0.820264,0.013949,8
3,0.327998,0.077206,0.021001,0.000815,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.841410,0.836616,0.816249,0.831425,0.010908,2
4,0.038666,0.006018,0.005333,0.000471,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.829981,0.807374,0.812291,0.816549,0.009708,10
5,0.305666,0.024457,0.030332,0.009741,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.844489,0.838034,0.816651,0.833058,0.011897,1
6,0.264664,0.038853,0.004335,0.000472,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.813226,0.826699,0.798732,0.812886,0.011420,12
7,2.662663,0.649620,0.024335,0.006848,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.820719,0.832309,0.813775,0.822268,0.007645,7
8,0.216332,0.021299,0.026002,0.026919,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.837535,0.819475,0.814063,0.823691,0.010035,6
9,1.570331,0.413559,0.018668,0.000472,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.838576,0.829702,0.819526,0.829268,0.007783,4
10,0.135997,0.004085,0.004335,0.000472,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.829488,0.824174,0.806294,0.819985,0.009921,9
11,1.405722,0.054629,0.019334,0.000943,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.839099,0.836681,0.818140,0.831307,0.009362,3

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:35
BMI:56.8
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

In [15]:
Future_Prediction

array([45809.5035594])